@font-face
{
    font-family: "Camper Script 2";
    src: url(../fonts/CamperScript.otf) format("opentype");
    font-family: "Incised901 Nd BT";
    src: url(../fonts/TT0469M.TTF) format("ttf");
}

body
{
    background: url(img/maingbg.jpg) no-repeat center top /cover;
}

nav
{
  float: right;
  font-family: "Incised901 Nd BT";
  font-style: italic;
}

.section1
{
    height: 20px;
    display: block;
}

.section2
{
    height: 100px;
}

.menu
{
	padding: 0;
	margin: 0;
    display: block;
}

.menu li
{
	float: left;
	display: block;
    margin-right: 41px;
}

.menu a
{
	color: #e234e3;
	text-decoration: none;
    text-transform: uppercase;
	font-size: 14px;
}

.change
{
    transition: color .35s linear;
    transition: color .5s linear;
}

.change:hover
{
    color: #1195da;
}

h1
{
    font-family: "Camper Script 2";
    text-align: center;
    margin-top: 0px;
    font-size: 100px;
    color: #310335;
}

h2
{
   font-family: "Camper Script 2"; 
   text-align: center;
   font-size: 80px;
   color: #310335;
   margin-top: 0px;
   opacity: 0.55; 
}

.wegot
{
    background: url(img/invis.png) no-repeat center;
}

.button
{
    background: #6725e9;
    color: #310335;
    border-radius: 4px;
    display: block;
    width: 200px;
    padding: 20px 0;
    margin: 0 auto;
    margin-top: 200px;
    margin-bottom: 160px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-size: 10px;
    font-family: "Incised901 Nd BT";
}

img {
    width: 400px;
    height: 300px;
    position: relative;
}

.services
{
    margin: 0;
    padding: 0;
    font-family: "Incised901 Nd BT";
}

.container
{
    width: 1230px;
    min-height: 500px;
    margin: 80px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container .box
{
    position: relative;
    width: 400px;
    height: 300px;
    margin: 5px;
    box-sizing: border-box;
    display: inline-block;
}

.container .box .imgBox
{
    position: relative;
    overflow: hidden;                /*Increase hidden behind the box*/
}

.container .box .imgBox img
{
    max-width: 100%;
    transition: transform 1.3s;
}



.container .box:hover .imgBox img      /*Img increase animation*/
{
    transform: scale(1.2);
}

.container .box .details
{
    position: absolute;
    top: 60px;
    left: 50px;
    bottom: 50px;
    right: 60px;
    background: rgba(0,0,0,.8);
    transform: scaleY(0);
    transition: transform .5s;
}


.container .box:hover .details             /*Text transformation*/
{
    transform: scaleY(1);
}


.container .box .details .content h3
{
    font-size: 25px;
    text-align: center;
    color: #1195da;
    margin-top: 50px;
    padding: 0;
}